<!DOCTYPE html>
<html>
  <head>
    <title>BrowseEverything</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "browse_everything/application", media: "all" %>
    <%= javascript_include_tag "browse_everything/browse_everything" %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
