
<div class="node folder">
  <input type="checkbox" id="<%= node.uri %>" name="<%= node.uri %>" />
  <label class="label">
    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
    <div class="base-name"><%= node.basename %></div>
  </label>

  <% if node.is_a?(BrowseEverything::Driver::FileSystem::ResourceTree) && !node.children.empty? %>
    <div class="folder__children">

      <% node.children.each do |child| %>
        <% if child.is_a?(BrowseEverything::Driver::FileSystem::ResourceTree) %>
          <%= render(partial: 'folder', locals: { node: child }) %>
        <% else %>
          <%= render(partial: 'file', locals: { node: child }) %>
        <% end %>
      <% end %>
    </div><!--/.children -->
  <% end %>
</div><!--/.folder -->

